In [ ]:
Q1: In this question, you have to scrape data using the filters available on the webpage You have to use the location and  
salary filter.  
You have to scrape data for “Data Scientist” designation for ffrst 10 job results.  
You have to scrape the job title, job location, company name, experience required.  
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs  
The task will be done as shown in the below steps: 
1. First get the web page https://www.naukri.com/  
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.  
3. Then click the search button. 
4. Then apply the location filter and salary field by checking the respective boxes  
5. Then scrape the data for the first 10 jobs results you get.  
6. Finally create a dataframe of the scraped data.

In [59]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
driver = webdriver.Chrome()
driver.get('https://www.naukri.com/')
designation=driver.find_element(By.CLASS_NAME,'suggestor-input')
designation.send_keys('Data Scientist')

In [62]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [79]:
location_filter=driver.find_element(By.XPATH,"//span[text()='Delhi / NCR']")
location_filter.click()

In [83]:
salary_filter = driver.find_element(By.XPATH, "//span[text()='3-6 Lakhs']")
salary_filter.click()

In [105]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [108]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title "]')
for i in title_tags:
    title=i.text
    job_title.append(title)
location_tags=driver.find_elements(By.XPATH,'//span[@class="locWdth"]')
for i in location_tags:
    location=i.text
    job_location.append(location)
company_tags=driver.find_elements(By.XPATH,'//a[@class=" comp-name mw-25"]')
for i in company_tags:
    company=i.text
    company_name.append(company)
experience_tags=driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
for i in experience_tags:
    exp=i.text
    experience_required.append(exp)

In [122]:
import pandas as pd
jobs=pd.DataFrame()
jobs['Title']=job_title[0:10]
jobs['company']=company_name[0:10]
jobs['experience_required']=experience_required[0:10]
jobs['location']=job_location[0:10]

In [124]:
jobs

,Title,company,experience_required,location
0,Data Scientist,Nityo Infotech,3-7 Yrs,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C..."
1,Data Scientist (AI/ML)|| US Based MNC || Noida,Collegedunia,3-5 Yrs,Hybrid - Noida
2,Data Scientist,Growthjockey,0-2 Yrs,Gurugram
3,Data Analyst,Biz Tech Consultants,0-5 Yrs,New Delhi
4,Data Analyst,Biz Tech Consultants,0-1 Yrs,Gurugram
5,,Biz Tech Consultants,2-6 Yrs,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C..."
6,,PayU,3-8 Yrs,Gurugram
7,,Innovaccer,3-8 Yrs,Ghaziabad
8,Data Scientist,IBM,3-8 Yrs,Noida
9,Data scientist,Times Internet,2-7 Yrs,"Gurugram, Bengaluru"

In [ ]:
Q2: Write a python program to scrape data for “Data Scienttst” Job positton in “Bangalore” locatton. You have to scrape the 
job-tttle, job-locatton, company_name, experience_required. You have to scrape ffrst 10 jobs data. 
 This task will be done in following steps: 
 1. First get the webpage https://www.shine.com/ 
 2. Enter “Data Analyst” in “Job tttle, Skills” ffeld and enter “Bangalore” in “enter the locatton” ffeld. 
 3. Then click the searchbutton. 
 4. Then scrape the data for the ffrst 10 jobs results you get. 
 5. Finally create a dataframe of the scraped data.

In [ ]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
driver = webdriver.Chrome()
driver.get('https://www.shine.com/')
job_title = driver.find_element(By.XPATH, "//input[@placeholder='Job title, skills']")
job_title.send_keys('Data Analyst')
location_input = driver.find_element(By.XPATH, "//input[@placeholder='Location']")
location_input.send_keys('Bangalore')
search_button = driver.find_element(By.XPATH, "//button[@type='submit']")
search_button.click()
jobs = driver.find_elements(By.XPATH, "//li[@class='result-display__profile ']")[:10]
job_data = []
for job in jobs:
    title = job.find_element(By.XPATH, ".//h3").text
    company = job.find_element(By.XPATH, ".//div[@class='result-display__profile__company-name']").text
    location = job.find_element(By.XPATH, ".//div[@class='result-display__profile__location']").text
    experience = job.find_element(By.XPATH, ".//div[@class='result-display__profile__experience']").text

    job_data.append({
        "Job Title": title,
        "Company Name": company,
        "Location": location,
        "Experience Required": experience
    })

# Print the data
for job in job_data:
    print(job)

# Close the driver
driver.quit()

In [ ]:
Q3: Scrape 100 reviews data from fLipkart.com for iphone11 phone. You have to go the link: 
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=F
LIPKART
1. Rating 
2. Review summary 
3. Full review 
4. You have to scrape this data for first 100reviews. 
Note: All the steps required during scraping should be done through code only and not manually

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
driver = webdriver.Chrome()
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART')

In [ ]:
Error: page has been removed or deleted

In [ ]:
Q4: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search 
field. 
You have to scrape 3 attributes of each sneaker: 
1. Brand 
2. Product Description 
3. Price 
As shown in the below image, you have to scrape the above attributes.

In [ ]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
driver = webdriver.Chrome()
driver.get('https://www.flipkart.com/')
time.sleep(2)
brand=[]
product_desc=[]
price=[]
search_field_designation=driver.find_element(By.CLASS_NAME,'Pke_EE')
search_field_designation.send_keys("sneakers")
search_button=driver.find_element(By.CLASS_NAME,'_2iLD__')
search_button.click()
brand_tags=driver.find_elements(By.XPATH,'//a[@class="fxf7w6 rgHxCQ"]')
brand_tags[0:4]
for i in brand_tags:
    title=i.text
    brand.append(title)
brand[0:4]
desc_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
desc_tags[0:4]
for i in desc_tags:
    title=i.text
    product_desc.append(title)
product_desc[0:4]
price_tags=driver.find_elements(By.XPATH,'//a[@class="_30jeq3"]')
price_tags[0:4]
for i in price_tags:
    title=i.text
    price.append(title)
price[0:4]
next_button=driver.find_elements(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_button.click()
brand_tags1=driver.find_elements(By.XPATH,'//a[@class="fxf7w6 rgHxCQ"]')
brand_tags1[0:4]
for i in brand_tags1:
    title=i.text
    brand.append(title)
brand[0:4]
desc_tags1=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
desc_tags1
for i in desc_tags1:
    title=i.text
    product_desc.append(title)
product_desc[0:4]
price_tags=driver.find_elements(By.XPATH,'//a[@class="_30jeq3"]')
price_tags[0:4]
for i in price_tags:
    title=i.text
    price.append(title)
price[0:4]
brand_tags1=driver.find_elements(By.XPATH,'//a[@class="fxf7w6 rgHxCQ"]')
brand_tags1[0:4]
for i in brand_tags1:
    title=i.text
    brand.append(title)
brand[0:4]
desc_tags1=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
desc_tags1[0:4]
for i in desc_tags1:
    title=i.text
    product_desc.append(title)
product_desc[0:4]
price_tags=driver.find_elements(By.XPATH,'//a[@class="_30jeq3"]')
price_tags[0:4]
for i in price_tags:
    title=i.text
    price.append(title)
price[0:4]
sneakers=pd.DataFrame()
sneakers['Brand']=brand[0:100]
sneakers['Product Description']=product_desc[0:100]
sneakers['Price']=price[0:100]

In [ ]:
Q5: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU 
Type filter to “Intel Core i7” as shown in the below image: 
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop: 
1. Title 
2. Ratings 
3. Price

In [51]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import time
import pandas as pd
driver = webdriver.Chrome()
driver.get('https://www.amazon.in/')
search_field = driver.find_element(By.ID, 'twotabsearchtextbox')
search_field.send_keys('Laptop')
search_button = driver.find_element(By.ID, 'nav-search-submit-button')
search_button.click()
cpu_filter=driver.find_element(By.XPATH,"//span[contains(text(),'Intel Core i7')]")
cpu_filter.click()
brand=[]
ratings=[]
price=[]
brand_tags = driver.find_elements(By.XPATH, '//a[@class="a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal"]')
for i in brand_tags:
    title = i.text
    brand.append(title)

ratings_tags=driver.find_elements(By.XPATH,'//span[@class="a-icon-alt"]')
for i in ratings_tags:
    title = i.text
    ratings.append(title)
 
price_tags = driver.find_elements(By.XPATH, '//span[@class="a-price-whole"]')
for i in price_tags:
    title = i.text
    price.append(title)
    
i7_data=pd.DataFrame()
i7_data['Product']=brand[0:10]
i7_data['Price']=price[0:10]

i7_data

                                             Product     Price
0  HP Laptop 15s, 12th Gen Intel Core i7-1255U, 1...    46,990
1  Acer Aspire Lite 12th Gen Intel Core i7-1255U ...    59,990
2  Acer ALG Gaming Laptop 13th Gen Intel Core i7 ...    46,990
3  ASUS Vivobook 15, 15.6" (39.62cm) FHD, Intel C...    67,990
4  Dell Inspiron 3530 Laptop, 13th Generation Int...    56,990
5  Acer Aspire Lite 12th Gen Intel Core i7-1255U ...    67,490
6  MSI Thin 15, Intel Core i7-12650H, 40CM FHD 14...    48,990
7  Acer Travelmate Business Laptop Intel Core i7-...    63,790
8  ASUS TUF Gaming F15, 15.6" (39.62cm) FHD 144Hz...    39,990
9  ASUS TUF Gaming F15, 15.6-inch (39.62 cms) FHD...  1,03,980

In [ ]:
Q6: Write a python program to scrape data for Top 1000 Quotes of All Time. 
The above task will be done in following steps: 
1. First get the webpagehttps://www.azquotes.com/ 
2. Click on Top Quote 
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [7]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import time
import pandas as pd
driver = webdriver.Chrome()
driver.get('https://www.azquotes.com/')
top_quotes_button = driver.find_element(By.XPATH, '//a[contains(@href, "top_quotes")]')
top_quotes_button.click()
quotes = []
authors = []
quote_types = []
quotes_tags = driver.find_elements(By.XPATH, '//a[@class="title"]')
for i in quotes_tags:
    title = i.text
    quotes.append(title)

authors_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in authors_tags:
    title = i.text
    authors.append(title)
 
quote_tags = driver.find_elements(By.XPATH, '//div[@class="tags"]')
for i in quote_tags:
    title = i.text
    quote_types.append(title)

data = pd.DataFrame({'Quote': quotes, 'Author': authors, 'Type of Quote': quote_types})
data.to_csv('top_quotes.csv', index=False)
data

,Quote,Author,Type of Quote
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
95,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
96,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
97,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
98,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
99,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

In [ ]:
Q7: Write a python program to display list of respected former Prime Ministers of India (i.e. Name, 
Born-Dead, Term of office, Remarks) from 

https://www.jagranjosh.com/general-knowledge/list-ofall-prime-ministers-of-india-1473165149-1

 scrap the menttoned data and make the DataFrame

In [ ]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import time
import pandas as pd
driver = webdriver.Chrome()
driver.get('https://www.jagranjosh.com/general-knowledge/list-ofall-prime-ministers-of-india-1473165149-1')
data = []
table = driver.find_element(By.XPATH, '//table[@class="TableData"')

rows = table.find_elements(By.TAG_NAME, 'tr')

for row in rows:
    cols = row.find_elements(By.TAG_NAME, 'td')
    if len(cols) == 4:  # Ensure there are 4 columns in the row
        name = cols[0].text
        born_dead = cols[1].text
        term_of_office = cols[2].text
        remarks = cols[3].text
        data.append([name, born_dead, term_of_office, remarks])

df = pd.DataFrame(data, columns=['Name', 'Born-Dead', 'Term of Office', 'Remarks'])

print(df)

In [ ]:
Q8: Write a python program to display list of 50 Most expensive cars in the world 
(i.e. Car name and Price) from https://www.motor1.com/ 
  
This task will be done in following steps: 
1. First get the webpage https://www.motor1.com/ 
2. Then You have to type in the search bar ’50 most expensive cars’ 
3. Then click on 50 most expensive cars in the world.. 
4. Then scrap the mentioned data and make the dataframe.

In [ ]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import time
import pandas as pd
driver = webdriver.Chrome()
driver.get('https://www.motor1.com/')
search_bar = WebDriverWait(driver, 10).until(
        EC.presence_of_element_located((By.CSS_SELECTOR, "input[placeholder='Search']"))  # Using CSS selector for search bar
    )
search_bar.send_keys('50 most expensive cars')
search_bar.submit()
result = WebDriverWait(driver, 10).until(
        EC.element_to_be_clickable((By.PARTIAL_LINK_TEXT, '50 Most Expensive Cars In The World'))
    )
car_names = driver.find_elements(By.XPATH, '//h3')  
car_prices = driver.find_elements(By.XPATH, '//p[contains(text(), "$")]'

data = []
for name, price in zip(car_names, car_prices):
  data.append([name.text, price.text])

df = pd.DataFrame(data, columns=['Car Name', 'Price'])
print(df)